<!DOCTYPE html>
<html>
    <head>
        <title>TIMBEAR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <%- include('menu') %>
        <h2>Actualizar Categoría de juego</h2>
        <div class="row">
            <div class="col">
                <form method="post" action="/categoria/modificar">
                    <input type="hidden" name="categoria_id" value="<%= categoria.id %>" />
                    <div>
                        <label class="form-label">Nombre:</label>
                        <input name="categoria_nombre" 
                            type="text" 
                            class="form-control"
                            value="<%= categoria.nombre %>" />
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>
        <%- include('footer') %>
    </body>
</html>