<!DOCTYPE html>
<html>
<body>

<form action="/lista_partidas">
  <label for="partida2">Categoria:</label>
  <select name="categoria" id="categoria">
    <option value="futbol" name="nuevacategoria">Futbol</option>
    <option value="basket" name="nuevacategoria">Basket</option>
    <option value="hockey" name="nuevacategoria">Hockey</option>
  </select>
  <br><br>
  <button type="submit">Aceptar</button>
  
</form>

</body>
</html>