<!DOCTYPE html>
<html>
<body>

<form action="/lista_partidas">
  <label for="partida">Estado:</label>
  <select name="estado" id="estado">
    <option value="pendiente" name="nuevoestado">Pendiente</option>
    <option value="iniciado" name="nuevoestado">Iniciado</option>
    <option value="finalizado" name="nuevoestado">Finalizado</option>
  </select>
  <br><br>
  <button type="submit">Aceptar</button>
  
</form>


</body>
</html>