<!DOCTYPE html>
<html>
<body>

<div class="mb-2">   
    <%- include('menu') %>
    <label class="form-label">Juego:</label>
    <select name="juego" class="form-select">
        <option value="-1">Elegir</option>
        <% id_juego.forEach( (partida)=> { %>
            <option value="<%= juego.id%>"><%= juego.nombre %></option>
        <% }) %>
    </select>
</div>

</body>
</html>