<div class="card mt-3">
    <div class="card-body">
        TIM-BEAR - 
        Año: 2021 - 
        <a href="/reglas">Reglas</a> - 
        <a href="/terminos">Terminos y Condiciones</a>
    </div>
</div>