<div class="col-3">
    
                
    <div class="card">
        <div class="card-header">
            <h1>
                Hoja de apuestas 
            </h1>
                
                
        </div>
        <div class="card-body">

            <div>
                <b class="mb-2">
                    <label class="form-label">Selección </label>
                </b>

                <div id="datosseleccion">

                    <div id="cartilla">

                    </div>
                    
                    <div id="multiplicador">

                    </div>

                </div>


                <!-- Boton cerrar-->

                <div id="cerrar">
                    
                </div>

                

                    

            </div>


            <!--Monto-->
            <div>
                <b class="mb-2">
                    <label class="form-label">Monto </label>
                </b>
            </div>

            <div class="row">
                <div class="col-3">
                    <input id="monto" class="form-control" type="text"  value="0">
                </div>
            </div>
            <div class="mt-3">
                <b>
                    Ganancia posible: 
                </b>

                <div >
                    <input  id="total" name="total" class="form-control" type="text" value="">

                </div>
            </div>

            

            <!--Botón apostar-->
            <div id="divinferior" class="mt-3">
                <button class="btn btn-primary" type="submit" id="apostar">APOSTAR</button>
                
            </div>
        </div>

    </div>
    
</div>
<td>
    <a class="btn btn-primary" href="/historial_apuestas">Historial de apuestas</a>
</td>


</div>

</div>