<!DOCTYPE html>
<html>
    <head>
        <title>TIM-BEAR</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-brown" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="#">APUESTA TOTAL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">CATEGORÍAS </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">JUEGOS</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">PARTIDAS</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">HOJA DE APUESTAS</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">HISTORIAL</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">CERRAR SESION</a>
                </li>
              </ul>
          </nav>
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="https://cnnespanol.cnn.com/wp-content/uploads/2021/05/210521164658-messi-fc-barcelona-contrato-deportes-cnn-full-169.jpg?quality=100&strip=info" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://www.xtrafondos.com/descargar.php?id=2449&resolucion=3840x2160" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.teahub.io/photos/full/84-848929_lionel-messi-barcelona-messi-vs-valladolid.jpg" class="d-block w-100" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
      </body>
        
</html>