<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    
  <body>
   <div class="container-fluid">
    

    <!-- header -->
    <div class="bg-light">
		<nav class="navbar navbar-expand-md navbar-light bg-light border-3 border-bottom">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">
                    <img src='/imagenes/886423.png' alt="" width="70" height="62" class="d-inline-block align-text-center">
                    Tim-Bear
                </a>
                <button type="button"
                    class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target="#MenuNavegacion">
                        <span class="navbar-toggler-icon"></span>
                </button>
            </div>

			<div id="MenuNavegacion" class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item">
                        <a class="nav-link active" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/categorias-juegos">Categorías</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/juego_listar">Juegos</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="/partidasadmin">Partidas</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="//historial_apuestas">Historial</a>
                    </li>
                    </ul>
                <ul class="navbar-nav ms-3">
					<li class="nav-item">
                        <a class="nav-link text-nowrap" href="iniciosesion">Iniciar sesión</a>
                    </li>
                </ul>
			</div>
		</nav>
	</div>

  <div class="row justify-content-center mt-4">
    <div class="col-10 col-md-6 col-lg-4 text-center">
    <h1 class="text-center">NOSOTROS</h1>
      <h5 target="_blank"> Somos Tim Bear, el primer portal de apuestas 100% peruano que llegó al mercado en el 
          año 2021 para ser la alternativa preferida de entretenimiento en línea. En Tim Bear contamos con todos los eventos y ligas 
          deportivas más importantes del mundo para tus apuestas. Puedes probar tu suerte disfrutando y apostando en disciplinas como
           fútbol, basquet y hockey</h5>
    </div>
  </div>

    
<div class="container">
<div class="row align-items-start" >
<div class="col" style="width: 18rem;">
    <img src='\imagenes\AmirNazi.jpg' " class="card-img-top" alt="no se puedo cargar la imagen">
    <div class="card-body">
        <h5 class="card-title">Amir Calienes</h5>
        <p class="card-text">Esta imagen es solo referencial y no representa ningún ideal ni pensamiento político por parte de Amir.</p>
        <a href="https://www.instagram.com/amircalienes/?hl=es" class="btn btn-primary">Ir a su Instagram</a>
    </div>
</div>

<div class="col" style="width: 18rem;">
    <img src='/imagenes/chelo.jpg' " class="card-img-top" alt="no se puedo cargar la imagen">
    <div class="card-body">
        <h5 class="card-title">Jose Carlos Castro Montenegro</h5>
        <p class="card-text">No sé qué hice, pero funciona.</p>
        <a href="https://www.instagram.com/jose_carloscm/?hl=es" class="btn btn-primary">Ir a su Instagram</a>
    </div>
</div>

<div class="col" style="width: 18rem;">
    <img src='imagenes/Watanabe.jpg' " class="card-img-top" alt="no se puedo cargar la imagen">
    <div class="card-body">
        <h5 class="card-title">Valeria Alejandra Watanabe Yong</h5>
        <p class="card-text">Profe por favor apruébennos.</p>
        <a href="https://www.instagram.com/vale_awy/?hl=es" class="btn btn-primary">Ir a su Instagram</a>
    </div>
</div>

<div class="col" style="width: 18rem;">
    <img src='\imagenes\AmirNazi.jpg' " class="card-img-top" alt="no se puedo cargar la imagen">
    <div class="card-body">
        <h5 class="card-title">Gabriel Lozano Chavez</h5>
        <p class="card-text">Frase de Gabriel.</p>
        <a href="https://www.instagram.com/gabriellozano312/?hl=es" class="btn btn-primary">Ir a su Instagram</a>
    </div>
</div>

<div class="col" style="width: 18rem;">
    <img src='\imagenes\AmirNazi.jpg' " class="card-img-top" alt="no se puedo cargar la imagen">
    <div class="card-body">
        <h5 class="card-title">Mauricio Du Pont Caballero</h5>
        <p class="card-text">Frase de Du POnt.</p>
        <a href="https://www.instagram.com/m_dupont11/?hl=es" class="btn btn-primary">Ir a su Instagram</a>
    </div>
</div>

<div class="col" style="width: 18rem;">
    <img src='/imagenes/Guzmán.png' " class="card-img-top" alt="no se puedo cargar la imagen">
    <div class="card-body">
        <h5 class="card-title">Rodrigo Javier Guzman Paredes</h5>
        <p class="card-text">Han sido los peores 3 días de mi vida.</p>
        <a href="https://www.instagram.com/rodrigog.99/?hl=es" class="btn btn-primary">Ir a su Instagram</a>
    </div>
</div>

</div>
</html>