<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="./css/index.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid p-3 mb-2 bg-info text-dark">
            <p class="text-center fs-1 fw-bold">Reglas</p>
        </div>
        <div class="container">
            <a class="btn btn-dark fs-5" href="#">Regresar</a>
        </div>
        <div class="mt-5 mb-3">
            <div class="container text-center">
                <img src="/imagenes/reglas.jpg" class="img-fluid">
            </div>
            <div class="container mt-5">
                <div class="text-center">
                    <p class="lh-base fs-4">
                        Cualquier partido no jugado o pospuesto se considerará no participante a efectos de valoración, a menos que podamos establecer dentro de un plazo razonable, con información disponible públicamente proporcionada por las entidades que rigen los partidos, que ese partido se ha reprogramado en un plazo de tres días desde la fecha de inicio original, en cuyo caso la apuesta será válida.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>