<html>
    <head></head>
    <body>
        <script src='/js/index.js'></script>
        <h1>Se ha iniciado sesión con el correo: <%= correo %></h1>
        <h2>La contraseña ingresada ha sido <%= contraseña %></h2>
    </body>
</html>